.portrait_upload {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 12px;
    .avatar-uploader{
        .ant-upload {
            width: 100px;
            height: 100px;
            margin: 0;
            .ant-upload {
                position: relative;
                .delete_photo {
                    position: absolute;
                    width: 98px;
                    height: 98px;
                    box-sizing: content-box;
                    border-radius: 4px;
                    background: rgba(200, 200, 200, .5);
                    top: 0%;
                    right: 0%;
                    .delete {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        background: rgba(150, 150, 150, .5);                        
                        transform: translate(-50%, -50%);
                        padding: 8px;
                        color: #777777;
                        border-radius: 50%;
                        transition: all 500ms ease-in-out;
                    }
                    .delete:hover {
                        color: rgb(200, 200, 200);
                        background: #777777;
                    }
                }
            }
        }
    }
}