*{
    margin: 0;
    padding: 0;
}
body {
    #root {
        .nav_bar {
            .ant-menu-horizontal {
                border-bottom: none;
            }
        }
        .home, .developer, .about, .forum, .internet, .science{
            padding-top: 57px;
        }
    }
}