*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
html, body, #root {
    height: 100%;
}
body {
    #root {
        .nav_bar {
            .ant-menu-horizontal {
                border-bottom: none;
            }
        }
        .home, .developer, .about, .forum, .internet, .science, .editor{
            padding-top: 57px;
        }
    }
}